.main {
    display: grid;
    width  : 100%;
    height : 100%;

    background-color: white;

    .chat {
        grid-column   : 1;
        overflow      : hidden;
        display       : flex;
        flex-direction: column;

        background-color: white;

        .messages {
            overflow : auto;
            flex-grow: 1;
            padding  : 10px;
            word-wrap: break-word;

            background-color: white;
            border          : 1px solid rgba(0, 0, 0, 0.15);
            border-radius   : 6px;

            box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.025);
        }

        .input {
            flex-grow            : 0;
            display              : grid;
            grid-template-columns: 16fr 1fr;

            margin-top: 15px;

            background-color: rgba(245, 245, 245, 0.5);
            border-radius   : 4px;

            textarea {
                resize: none;
                border: 1px solid rgba(0, 0, 0, 0.15);

                font-size  : 16px;
                font-family: inherit;
            }

            .submit {
                height: 24px;
            }
        }
    }
}